   * {
    text-decoration: none;
}
a:link, a:visited, a:active { 
    text-decoration: none;
}

.App {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
  }
.fondo-morado {
    background-color:  rgb(68, 0, 153) ;
}
.fondo-rojo {
    background-color: orangered;
    color: white;
    height: 50px;
    font-size: 25px;
    align-items: center;
    padding-top: 40px;
    margin-top: 70px;
    border-radius: 0px 5px 5px 0px;
}
.gradiente-morado {
    background-image: linear-gradient(-90deg, rgb(211, 0, 152), rgb(68, 0, 153));
    color: white;
    height: 50px;
    font-size: 25px;
    align-items: center;
    padding-top: 40px;
    
    margin-top: 70px;
}


.cart-icon {
    position: relative;
    display: inline-block;
}
  
.cart-icon i {
    font-size: 20px;
}
  
.cart-count {
    position: absolute;
    top: 0;
    right: 0;
    background-color: rgb(255, 8, 8);
    color: white;
    font-weight: bold;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.navbar {
    color: white;
    text-decoration: none;
}

li {
    text-decoration: none;
}